.dashboardBody {
  background: linear-gradient(180deg, rgba(43, 43, 43, 0.08) 0%, rgba(189, 124, 102, 0.12) 40%, rgba(189, 124, 102, 0.05) 100%);
  background-color: rgba(189, 124, 102, 0.05);
  min-height: 100vh;
  margin-left: 310px;
  transition: ease-in-out 0.4s;
}
.dashboardBody-inner{
  padding: 7.5rem 1.5rem 2rem;
}

.dashboardBody.expanded {
  margin-left: 60px;
}

@media screen and (max-width: 767px) {
  .dashboardBody.expanded,
  .dashboardBody {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 575px) {
  .dashboardBody {
    padding: 6rem 0rem 0rem;
  }
  .dashboardBody-inner{
    padding: 0rem 1rem 0rem;
  }
}

