@media screen and (min-width: 992px) {
  #header .navbar .offcanvas-body {}

  .scrollable-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
    /* -webkit-overflow-scrolling: touch; */
  }

  .scroll-nav-wrapper {
    width: calc(100% - 340px);
    position: relative;
  }

  .scrollable-nav::-webkit-scrollbar {
    display: none;
  }

  .scroll-button {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 0 5px;
    color: #000;
    position: absolute;
    z-index: 1;
    height: 100%;
  }

  .scroll-button.left {
    left: 0;
    right: auto;
  }

  .scroll-button.right {
    right: 0;
    left: auto;
  }

  .scrollable-nav.navbar-nav .dropdown-menu {
    left: auto;
  }

}

@media screen and (min-width: 1400px) {
  .scroll-nav-wrapper {
    width: calc(100% - 340px);
  }
}

/* style.css */

/****************************
	header
    **********************/
.bg-light {
  background-color: #fff !important;
}

#header .navbar .navbar-toggler {
  padding: 0px;
  border-radius: 3px;
  line-height: 0;
  width: 45px;
  height: 45px;
  border-color: var(--navbar-toggler-border-color);
}

#header .navbar .navbar-toggler .fa-bars {
  font-size: 1.5rem;
  color: var(--darkBlue);
}

#header .navbar .navbar-toggler:hover .fa-bars {
  color: var(--white);
}


/***
Menu Wrapper
****/
#header {
  position: relative;
  background-color: #E7F2FF;
}

.top-bar{
  background-color: #2B2B2B;
  padding: 15px 0;
  color: #fff;
}
.top-bar a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
}
.top-bar a:hover{
  color: #fff;
  text-decoration: underline;
}
#header .navbar-brand {
  margin-right: 0px;
  text-align: center;
  padding: 0;
}

#header .navbar-brand img {
  max-width: 150px;
}

.navbar-nav.main-nav {
  flex: 1;
}

#header .navbar {
  border: none;
  min-height: inherit;
  width: 100%;
  z-index: 5;
  padding: 25px 0;

  /* margin-top: 30px; */
}

/* #header.home_header {
  position: absolute;
  top: 30px;
  padding-top: 0px;
  background-color: transparent;

} */

.nav-bg {
  background-color: rgba(255, 255, 255, 0.90);
}

.navbar-nav {
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px;
  list-style: none;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--secondaryColor);
}

.navbar-nav > li:not(:last-child) {
  margin-left: 0px;
  /* margin-right: 30px; */
}


.navbar-nav > li a.nav-link {
  display: block;
  font-weight: 500;
  padding: 5px 15px;
  text-decoration: none;
  position: relative;

}

.navbar-nav > li a.nav-link::after {
  width: 100%;
  height: 2px;
  background-color: #000;
  bottom: 0;
  top: auto;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-item.active > a,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondaryColor);

}

.navbar-light .navbar-nav .nav-link.active::after,
.navbar-light .navbar-nav .nav-link:hover::after {
  opacity: 1;
  /* transition: all 0.3s ease-in-out; */
}


/* Sub Menu START */
.navbar-nav .dropdown-menu {
  fill: #FFF;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.08));
  min-width: 220px;
  padding: 0px;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  margin-top: 0px;
}

.user-layout .navbar-nav .dropdown-toggle:after {
  content: "";
  margin-left: 8px;
  margin-top: 0px;
  pointer-events: none;
  width: 7px;
  height: 7px;
  border: 2px solid var(--charcoal);
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
}

.navbar-nav .dropdown-menu .navbar-nav {
  flex-direction: column;
}

.navbar-nav .dropdown-menu .nav-item:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

/* Sub Menu END */


/* Nav Right */
#header .navbar-right li.nav-item {
  margin-right: 0px !important;
}

/* #header .navbar-right li.nav-item:first-child a {
  color: #1A8C1A;
}

#header .navbar-right li.nav-item:first-child a:hover {
  color: #000;
} */

#header .navbar-right li.nav-item a {
  padding: 13px 15px;
  font-weight: 500;
  font-size: 16px;
}

#header .navbar-right li.nav-item .dropdown-toggle {
  padding: 5px 5px;
  font-size: 25px;
  color: var(--bs-black);  
}
#header .navbar-right li.nav-item .dropdown-toggle:after{
  display: none;
}



.navbar-nav.navbar-login > li:not(:last-child) {
  margin-right: 0px;
}

.navbar-nav.navbar-login a svg path {
  transition: all .6s ease 0s;
}

.navbar-nav.navbar-login a:hover svg path {
  fill: #15355E;
}

.navbar-nav.navbar-login .btn.btn-primary {
  padding: 10px 5px;
  min-width: 140px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}

.navbar-nav.navbar-login .dropdown-toggle:after {
  display: none;
}
.header-search .form-control{
  padding-right: 40px;
  padding-bottom: 0px;
  color: var(--bs-black);
  height: 35px;
  padding-top: 5px;
}
.header-search .btn-search{
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  width: 40px;
  height: 35px;
  background-color: transparent;
  transform: translateY(-50%);
  border: none;
  padding: 0px;
  font-size: 25px;
}




/***********
**** Header User Profile Dropdown Module***** (Done)
********/
.dropdown-user {}

.dropdown-user .dropdown-toggle,
.user-layout .notiDropdown .dropdown-toggle {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  padding: 0px;
  border: none;
}

.dropdown-user .dropdown-toggle:hover svg path,
.dropdown-user .dropdown-toggle.show svg path,
.user-layout .notiDropdown.show .dropdown-toggle svg path {
  /* fill: #27446a; */
  transition: all .6s ease 0s;
}

.dropdown-user  .login-user{
  margin-top: 0.5rem;
  border-bottom: 1px solid #3333331d;
}
.dropdown-user .avatar {
  width: 55px;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.dropdown-user .avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-user .user-name {
  margin-bottom: 0;
  color: var(--charcoal);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  color: #0A0A0A;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.2));
  display: block;
}

.dropdown-user .dropdown-menu {
  min-width: 9rem;
  margin-top: 15px;
  padding: 0px;
  border: 1px solid #3333331d;
  border-radius: 5px;
}

.dropdown-user .dropdown-menu a.dropdown-item {
  padding: 7px 10px;
  font-size: 14px;
  transition: all .6s ease 0s;
  color: #333;
  font-weight: 500;
}

.dropdown-user .dropdown-menu a.dropdown-item:first-child {
  border-radius: 5px 5px 0 0;
}

.dropdown-user .dropdown-menu a:last-child {
  border-radius: 0 0 5px 5px;
}

.dropdown-user .dropdown-menu a:hover {
  /* color: #fff; */
  background-color: #2B2B2B;
}

.dropdown-user .dropdown-menu a.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #3333331d;
}

.dropdown-user .dropdown-menu a.dropdown-item svg {
  margin-right: 8px;
  font-size: 22px;
  color: var(--black);
}

.dropdown-user .dropdown-menu a.logout {
  color: #ff0000;
  font-weight: 500;
}

.dropdown-user .dropdown-menu a.logout:hover {
  color: #ff0000;
}


.dropdown-shopping-cart .dropdown-toggle{
  border: none;
}
.dropdown-shopping-cart .dropdown-toggle span.badge {
  background-color: var(--bs-black);
  color: #fff;
}
.dropdown-shopping-cart span.badge {
  background: white;
  color: var(--bs-white);
  height: 20px;
  width: 20px;
  padding: 4px 0 0;
  transition: all .2s ease-out;
  border-radius: 50px;
  position: absolute;
  right: 0;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 500;
}
.dropdown-shopping-cart .dropdown-body{
  max-height: 235px;
  overflow-y: auto;
}
.dropdown-shopping-cart .dropdown-body::-webkit-scrollbar {
  width: 7px;
}

.dropdown-shopping-cart .dropdown-body::-webkit-scrollbar-track {
  cursor: grab;
  background-color: rgba(69, 69, 69, 0.2);
}

.dropdown-shopping-cart .dropdown-body::-webkit-scrollbar-thumb {
  background-color: rgba(69, 69, 69, 0.4);
  border-radius: 7px;
  cursor: grab;
}
.dropdown-shopping-cart .dropdown-menu {
  min-width: 20rem;
  margin-top: 15px;
  padding: 0px;
  border: none;
  border-radius: 5px;
}
.dropdown-shopping-cart .cart-item{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  font-size: 12px;
  line-height: 22px;
  display: flex;
  gap: 10px;
}
.dropdown-shopping-cart .cart-item:active{
  background-color: transparent;
}
.dropdown-shopping-cart .cart-item .product-image img {
    height: auto;
    width: 60px;
    height: 60px;
    margin-left: 0;
    object-fit: cover;
}

.dropdown-shopping-cart .cart-item .product-details a{
  text-decoration: none;
  color: #000;
  padding: 0px !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
}
.dropdown-shopping-cart .cart-item .product-details a:hover{
  text-decoration: underline;
  color: #2B2B2B;
}
.dropdown-shopping-cart .cart-item  .product-quantity-price{
  font-size: 0.9rem !important;
}
.dropdown-shopping-cart .dropdown-footer .btn{
  padding: 14px 40px 12px 40px;
  font-size: 0.9rem;
}
.dropdown-shopping-cart .dropdown-footer .btn span {
  padding-left: 20px;
}
.dropdown-shopping-cart .dropdown-footer .btn span::before{
  width: 15px;
}


/* .navbar .dropdown-user .dropdown-menu a.dropdown-item .icon{
  display: inline-block;
  min-width: 33px;
  text-align: right;
}
.navbar .dropdown-user .dropdown-menu a.dropdown-item img{
margin-right: 10px;
} */




@media screen and (max-width:1666px) {
  #header .navbar .main-nav-wrap {
    width: calc(100% - 500px) !important;
  }
}

@media screen and (max-width:1366px) {}

@media (max-width: 1399px) {
  #header .navbar {
    /* padding: 20px 3%; */
  }

  .navbar-login .img-icon {}
}

@media (max-width: 991px) {
  #header.home_header {
    /* top: 0px; */
  }
}

@media (max-width: 767px) {
  #header.home_header {
    position: relative;
    top: 0;
  }

  .hero-banner .banner-image {
    margin-top: -50px;
  }

  #header .navbar .avatar {
    margin-right: 0rem;
  }

  #header .dropdown-notification .dropdown .dropdown-toggle .fa-bell {
    color: var(--darkBlue);
  }

  .navbar-login .img-icon {
    max-width: 25px;
  }
}

@media (max-width: 575px) {
  #header .navbar {
    padding: 10px 15px;
  }

  #header .navbar-brand img {
    max-width: 80px;
  }

  .home_header {
    top: 0px;
  }

  .dropdown-notification .dropdown .dropdown-menu {
    width: 20rem;
  }
  .navbar-nav .dropdown-menu{
    position: absolute;
    left: -50px;
  }
}

@media (max-width: 480px) {
  .dropdown-notification .dropdown .dropdown-menu {
    transform: translateX(100px);
  }
}

@media (max-width:360px) {
  #header .navbar .menu-toggle {
    width: 40px;
    height: 40px;
  }

  #header .navbar .menu-toggle .fa-bars {
    font-size: 1.2rem;
  }

  #header .navbar {
    padding: 10px 0px;
  }
}





@media (min-width: 768px) {
  #header .navbar-expand-lg .navbar-nav .dropdown-submenu {
    position: absolute;
  }

  /* #header .navbar-nav .nav-link{ padding-right: 1rem; padding-left: 1rem; } */
  #header .navbar-nav > li.nav-item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  #header .navbar-nav .dropdown-menu .nav-item {
    display: block;
    margin-right: 0px;
  }
}


@media (min-width: 992px) {
  #header .navbar-nav > li.nav-item {
    margin-right: 1.9rem;
  }
}

@media (min-width: 1199px) {
  #header .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  #header .navbar-nav .dropdown-menu .nav-link {
    padding: 12px 20px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}